---
import Badge from "../components/Badge.astro";
import Section from "./Section.astro";
---

<Section id="experiencie" class="py-4">
  <h2 class="text-3xl pb-4">About Me</h2>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >September 2024 - Present</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Junior Software Engineer - Indra Espacio
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Developing and maintaining full-stack applications using React and
        Django.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >October 2024 - Present</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        VI University Expert Diploma in Reverse Engineering and Malware
        Intelligence - Google
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        I'm currently studying this diploma to learn more about reverse
        engineering and malware intelligence.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >September 2024 - Present</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Master's Degree in Artificial Intelligence and Software Engineering -
        UMA
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        I wanted to continue my studies and specialize in AI and software
        engineering.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >September 2019 - June 2024</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Double degree in Mathematics and Computer Science - UMA
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        I was part of the first class of students to graduate from this dual
        degree program in Málaga. I graduated with a GPA of 7.98 in Computer
        Science and 7.24 in Mathematics.
      </p>
    </li>
  </ol>
</Section>
