<header class="flex items-center justify-center w-full mx-auto mt-2">
  <nav class="flex justify-center items-center gap-x-10 opacity-90">
    <a href="#experiencie">Experiencie</a>
    <a href="#projects">Projects</a>
    <a href="#blog">Blog</a>
  </nav>
</header>
