<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
  <img
    class="rounded-full w-12 h-12"
    src="/src/images/profile.jpg"
    alt="profile pic"
  />

  <nav class="flex flex-row gap-x-10 opacity-90">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/contact">Contact</a>
    <a href="/projects">Projects</a>
  </nav>
</header>
