---
const { title, description, link, image } = Astro.props;
---

<div class="flex flex-col rounded-3xl gap-y-2 bg-[#f4f0e7] p-4">
  <h2 class="text-3xl font-semibold">{title}</h2>
  <h3 class="text-xl text-[#a69b85]">
    {description}
  </h3>
  <a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="text-[#a69b85] border-[#a69b85] size-fit rounded-lg border-2 text-xl p-2"
  >
    Visit →</a
  >
  <img src={image} alt="Text2Math" class="" />
</div>
