---
const { title, description, link, image } = Astro.props;
---

<div
  class="flex flex-col group h-[32rem] overflow-hidden rounded-3xl bg-dark-brown-bg p-4 gap-y-2"
>
  <h2 class="text-2xl">{title}</h2>
  <h3 class="text-xl text-dark-brown-text">
    {description}
  </h3>
  <a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="text-dark-brown-text border-dark-brown-text size-fit rounded-full border text-xl py-2 px-4
    hover:text-dark-brown-bg hover:border-dark-brown-bg hover:bg-dark-brown-text"
  >
    Visit →</a
  >

  <img
    src={image}
    alt="Text2Math Screenshot"
    class="scale-110 w-full h-full object-cover rounded-3xl transition-transform duration-300 ease-in-out group-hover:scale-110"
  />
</div>
